# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
accelerate=0.30.1=pypi_0
bitsandbytes=0.42.0=pypi_0
ca-certificates=2024.3.11=hca03da5_0
certifi=2024.2.2=pypi_0
charset-normalizer=3.3.2=pypi_0
filelock=3.14.0=pypi_0
fsspec=2024.5.0=pypi_0
huggingface-hub=0.23.2=pypi_0
idna=3.7=pypi_0
jinja2=3.1.4=pypi_0
libcxx=14.0.6=h848a8c0_0
libffi=3.4.4=hca03da5_1
markupsafe=2.1.5=pypi_0
mpmath=1.3.0=pypi_0
ncurses=6.4=h313beb8_0
networkx=3.2.1=pypi_0
numpy=1.26.4=pypi_0
openssl=3.0.13=h1a28f6b_2
packaging=24.0=pypi_0
pip=24.0=py39hca03da5_0
psutil=5.9.8=pypi_0
python=3.9.18=hb885b13_0
pyyaml=6.0.1=pypi_0
readline=8.2=h1a28f6b_0
regex=2024.5.15=pypi_0
requests=2.32.2=pypi_0
safetensors=0.4.3=pypi_0
scipy=1.13.1=pypi_0
setuptools=69.5.1=py39hca03da5_0
sqlite=3.45.3=h80987f9_0
sympy=1.12=pypi_0
tk=8.6.14=h6ba3021_0
tokenizers=0.19.1=pypi_0
torch=2.3.0=pypi_0
tqdm=4.66.4=pypi_0
transformers=4.42.0.dev0=pypi_0
typing-extensions=4.12.0=pypi_0
tzdata=2024a=h04d1e81_0
urllib3=2.2.1=pypi_0
wheel=0.43.0=py39hca03da5_0
xz=5.4.6=h80987f9_1
zlib=1.2.13=h18a0788_1
